
.flex-container{
    display:flex;
    flex-wrap: wrap;
    gap: 1.5rem 0rem;
    justify-content: center;
    align-items: center;
    justify-content:center;
}

.column {
    flex:1;
    display:flex;
    flex-direction: row;
    gap: 0.5rem 0.2rem;
    flex-wrap: wrap;
    align-items:flex-start;
}

.item{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    padding:0;
    margin:0.5rem;
    background-color: aquamarine;

}

.column:first-child > :last-child, .column:last-child > :first-child{
    flex-grow:2;
}

.monitor-container {
    margin:0 !important;
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "AA"
      "BB"; 
    grid-gap:0;
    justify-items: center;
  }

  .monitor-A { 
    grid-area: AA;
  }

  .monitor-B { 
        grid-area: BB; 
        margin-bottom:2rem;
        }



    .monitor-container2 {
        margin:0 !important;
        display: grid; 
        grid-template-columns: 1.6fr 0.4fr; 
        grid-template-rows: 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "AAA BBB"
          "AAA CCC"; 
        grid-gap:0;
        justify-items: center;
      }
    
    .monitor-AA { 
                grid-area: AAA;
                background-color: aquamarine !important;
                width:auto;
                }
    
    .monitor-BB { 
                grid-area: BBB; 
                }
    
    .monitor-CC { 
                grid-area: CCC;
                }


.summary{
    background-color: #F4F4F4;
    padding: 40px;
    margin-right: 15px;
    margin-top: 15px;
}

.monitor-output-text{
    font-size:1.1rem;
    align-content: center;
    color:black;
    text-align: center;
    margin: 0px;
    padding-left: 0rem;
}

.monitor-output{
    background-color: aqua;
    padding: 1rem;
    margin-top: 0px;
    width: 12rem;
    height: auto;
}

.monitor-title{
    font-size:3rem;
    color:black;
    text-align: left;
}

.dropdown-title{
    text-align:center;
    margin:0px;
    padding:0px;
    font-size:1.2rem;
    color:black;
}

.dropdown{
    width:25rem;
    
}

.dropdown-item{
    color:white;
}

.Select-value{
    background-color: black;
    color: black;
}

.Select-menu-outer{
    background-color: black;
    color:white;
}
.Select-control{
    background-color: black;
    color: black;
}

.has-value.Select--single>.Select-control .Select-value .Select-value-label,
 .has-value.is-pseudo-focused.Select--single>.Select-control .Select-value .Select-value-label{
    color:white !important;
    background-color: black;
}

@media(max-width: 800px){
    .flex-container{
        flex-direction:column;
    }
}



@media (max-width:1200px){
    .flex-container{
        flex-direction:column;
    }

    .column{
        flex-direction:row;
        display: contents;
        flex-wrap:wrap;
    }

    .row{
        flex-wrap:wrap;
    }
}


